<form action="/prehistoric_creatures" method="POST">
    <label for="creatureName">Type</label>
    <input type="text" id="prehistoric_creaturesType" name="type" >

    <label for="creatureImg">IMG</label>
    <input type="text" id="prehistoric_creaturesImg" name="img">

    <input type="submit" value="Add a Creature">
</form>